body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #253347;
    margin: 0px;
}

.header {
    text-align: center;
    background-color: #111720;
    width: 100%;
}

.title {
    font-family: 'Press Start 2P', cursive;
    color: #fac650;

}

.mainBody {
    text-align: center;
    margin-top: auto;
    font-family: 'Roboto', sans-serif;
}

.scoreBox {
    display: inline-block;
    margin: 50px 50px 0px 40px;
}

.scoreSection {
    margin-bottom: 20px;
}

.handDisplay {
    display: block;
    font-size: 72px;
    margin: 0px 50px 15px 50px;
}

.handButton {
    font-size: 72px;
    height: 150px;
    width: 150px;
    background-color: #1a222e;
    transition-duration: 0.1s;
    border-radius: 20px;   
    margin: 40px 15px;
    border: none;  
}

#playAgain {
    display: none;
    background-color: #1a222e;
    transition-duration: 0.1s;
    border-radius: 20px;   
    border: none;  
    color: white;
    height: 150px;
    width: 523px;
    font-size: 20px;
    margin: 40px 15px;
}

button:hover, #playAgain:hover {
    background-color: #4d5053;
}

#displayGameOver {
    margin: 0px;
    visibility: hidden;
}

.footer {
    text-align: center;
    margin-top: auto;
}